{% extends "base.html" %}

{% block extrahead %}
<link rel="manifest" href="https://yldales.github.io/isla-nycta-rules/manifest.webmanifest" />
{% endblock %}

{% block tabs %}
{{ super() }}
<div id="md-header-nycta">
  <div id="nycta-reboot-timer"></div>
  <div id="nycta-map-cycle"></div>
</div>
{% endblock %}

{% block analytics %}
<script>
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//visitors.theeverseeker.fr/";
    _paq.push(['setTrackerUrl', u + 'not_matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = u + 'not_matomo.js'; s.parentNode.insertBefore(g, s);
  })();

  document.addEventListener('DOMContentLoaded', function () {
    var oldPushState = history.pushState;
    history.pushState = function () {
      oldPushState.apply(this, arguments);
      _paq.push(['setCustomUrl', window.location.pathname + window.location.hash]);
      _paq.push(['setDocumentTitle', document.title]);
      _paq.push(['trackPageView']);
    };

    _paq.push(['trackPageView']);

    window.addEventListener('popstate', function () {
      _paq.push(['setCustomUrl', window.location.pathname + window.location.hash]);
      _paq.push(['setDocumentTitle', document.title]);
      _paq.push(['trackPageView']);
    });
  });
</script>
{% endblock %}